html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;

}

input,
textarea,
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

input,
button {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  outline: none;
  border: none;
}

.btn {
  color: gray;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
}

.btn i {
  margin-left: 10px;
  font-size: 24px;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s linear;
  transition-property: visibility, opacity;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal.is-show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: fixed;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 460px;
  border-radius: 3px;
  overflow-y: auto;
  max-height: 100vh;
}

.modal-group-btn {
  display: flex;
}

.modal-group-btn button {
  cursor: pointer;
  max-width: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #999;
  background: #eee none;
  height: 56px;
}

.modal-group-btn .active {
  background-color: #fff;
  color: #333;
}

.modal-login-register {
  padding: 0 40px 30px 40px;
}

.modal-login-register .modal-text {
  display: block;
  margin: 16px 0 0;
  color: #1a1a1a;
  text-align: center;
  font-size: 1.6rem;
}

.modal-login-register .modal-text-register {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.modal-login-register .modal-text-register.error {
  color: red;
}

.modal-login-register .modal-text-register.success {
  color: rgb(7, 240, 7);
}

.modal-login-register .modal-text-login {
  margin-top: 16px;
  display: block;
}

.modal-login-register .modal-text-login.error {
  color: red;
}

.modal-login-register .modal-social {
  margin: 16px 0 0;
  display: flex;
  justify-content: space-between;
}

.modal-login-register .modal-social.hidden {
  display: none;
}

.modal-login-register .modal-social .google,
.modal-login-register .modal-social .facebook {
  flex: 0 0 auto;
  max-width: 100%;
  width: calc(50% - 10px);
  background: #e2e8f0 none;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 22px;
  color: #333;
  height: 45px;
  cursor: pointer;
}

.modal-login-register .modal-line {
  margin-top: 30px;
  position: relative;
  text-align: center;
}

.modal-login-register .modal-line.hidden {
  display: none;
}

.modal-login-register .modal-line span {
  padding: 0 20px;
  background-color: #fff;
  font-size: 1.6rem;
}

.modal-login-register .modal-line span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1px solid #eee;
  transform: translateY(-50%);
  z-index: -1;
}

.modal-login-register .form-login-register {
  margin-top: 20px;
}

.modal-login-register .form-login-register label {
  display: block;
}

.modal-login-register .form-login-register .form-group+.form-group {
  margin-top: 16px;
}

.modal-login-register .form-login-register input {
  margin-top: 6px;
  display: block;
  width: 100%;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 16px 10px;
  font-size: 14px;
  line-height: 22px;
  color: #333;
  outline: 0;
}

.modal-login-register .form-login-register .btn-forget {
  display: block;
  margin-left: auto;
  background-color: transparent;
  font-size: 1.4rem;
  line-height: 22px;
  color: gray;
  font-style: italic;
}

.modal-login-register .form-login-register .btn-forget.hidden {
  display: none;
}

.modal-login-register .form-login-register .btn-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #f8fafc;
  border-radius: 5px;
  background: #1a7900;
  cursor: pointer;
}

.modal-login-register .form-login-register .form-group__wrap__passwd {
  position: relative;
}

.modal-login-register .form-login-register .form-group__wrap input {
  padding-right: 48px;
}

.modal-login-register .form-login-register .form-group__wrap i {
  position: absolute;
  top: 50%;
  right: 20px;
  translate: 0 -50%;
  color: #978e8e;
  cursor: pointer;
}

.modal-login-register .form-login-register .form-group .email.error {
  border: 1px solid red;
}

.modal-login-register .form-login-register .form-group .passwd.error {
  border: 1px solid red;
}

.modal-login-register .form-login-register .form-group .full-name.error {
  border: 1px solid red;
}

.modal-login-register .form-login-register .form-group span {
  margin-top: 10px;
  display: block;
  color: red;
}

.modal-login-register .form-login-register .form-group .desc.hidden {
  display: none;
}

.modal-login-register .form-login-register .form-group:nth-child(1).hidden {
  display: none;
}

.container {
  width: 700px;
  margin: 50px auto;
}

.blog-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blog-user .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-size: 2.5rem;
}

.blog-user .name {
  font-size: 2.0rem;
}

.form-group input,
.form-group textarea {
  display: block;
}

.form-blogs {
  margin-top: 30px;
}

.container .heading-lv2 {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.form-group textarea,
.form-group input {
  margin-top: 18px;
  padding: 14px 10px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 2.0rem;
}

.form-group {
  margin-top: 18px;
}

.form-group textarea {
  resize: none;
}

.form-group.btn-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container .btn {
  min-width: 150px;
  padding: 20px 10px;
  color: #fff;
  border-radius: 12px;
}

.btn-new {
  background-color: green;
}

.btn-sign-out {
  background-color: red;
}

.blog-items {
  margin-top: 18px;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.blog-items .content {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.blog-items .content .title {
  font-size: 2.5rem;
}

.btn-tag {
  border: 1px solid green;
  color: green;
}

.blogs {
  padding: 20px;
}

/* loading*/

@keyframes bounce-loader {
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}

.bounce-loading {
  display: flex;
  justify-content: center;
}

.user-wrap {
  display: flex;
  gap: 3px;
  flex-direction: column;
}

.user-wrap span {
  font-size: 1.2rem;
}

.bounce-loading>div {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bounce-loader 0.6s infinite alternate;
}

.bounce-loading>div:nth-child(2) {
  animation-delay: 0.15s;
}

.bounce-loading>div:nth-child(3) {
  animation-delay: 0.3s;
}

.bounce-loading>div:last-child {
  animation-delay: 0.45s;
}

.loading {
  position: fixed;
  inset: 0;
  background-color: #cccccc3b;
}

.bounce-loading {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.loading.is-hidden {
  display: none;
}

/*Toast*/
.toast {
  position: fixed;
  top: 15px;
  right: 0px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
  translate: 150%;
  animation: mytoast 1.5s linear;
}

.toast-inner {
  padding: 18px 150px 18px 14px;
  display: flex;
  align-items: center;
  gap: 20px;


}

.toast-inner .icon-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;

}

.fa-solid.fa-check {
  background-color: rgb(50, 161, 50);

}

.fa-solid.fa-xmark {
  background-color: rgb(240, 9, 9);
}

.status {
  font-weight: 600;
  font-size: 1.5rem;
}

.status.success {
  color: rgb(50, 161, 50);


}

@keyframes mytoast {

  20%,
  100% {
    translate: 0;
  }
}