.cart {
     padding: 20px;
     margin-bottom: 18px;
     border: 1px solid #ccc;
     border-radius: 12px;

     .cartWrapTop {
          display: flex;
          gap: 20px;

          .imgWrap {
               max-width: 200px;
               max-height: 150px;

               img {
                    max-width: 100%;
                    border-radius: 12px;
                    x
               }
          }
     }
}