.cart {
     padding: 20px;
     margin-bottom: 18px;
     border: 1px solid #ccc;
     border-radius: 12px;

     .cartWrapTop {
          display: flex;
          gap: 20px;

          .imgWrap {
               max-width: 250px;

               img {
                    width: 200px;
                    border-radius: 12px;
                    height: 100px;

               }
          }
     }
}