*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel__inner {
    width: 100%;
    display: flex;
    transition: translate 0.25s linear;
}


.carousel__items {
    flex: 1 0 100%;
}

.prev {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    translate: 0 -50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    translate: 0 -50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.dot__item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.dot__item.active {
    background-color: rgb(240, 240, 59);
}