.column {
     min-width: 300px;
     padding: 20px 10px;
     height: 70vh;
     overflow: auto;
     background-color: #fff;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;

     .headingLv3 {
          font-size: 2.0rem;
          font-weight: 700;
          margin-bottom: 18px;
     }
}