.column {
     min-width: 300px;
     padding: 20px 10px;
     height: 70vh;
     background-color: #fff;
     border-radius: 12px;

     .headingLv3 {
          font-size: 2.5rem;
          font-weight: 700;
     }
}