.column {
     min-width: 300px;
     background-color: #fff;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;

     .headingLv3 {
          font-size: 2.0rem;
          font-weight: 700;
          margin-bottom: 18px;
     }

     .listTasks {
          height: 60vh;
          overflow: auto;
     }
}