 .socialContact {
      .headingLv2 {
           text-align: center;
      }

      .listSocial {
           margin-top: 18px;
           padding: 8px 0;
           border-bottom: 1px solid #333;

           li {

                a,
                span {
                     font-style: italic;
                     text-decoration: none;
                     font-size: 1.6rem;
                }

                a {
                     color: blue;
                }
           }

           li+li {
                margin-top: 18px;
           }
      }
 }