.hobbies {
     .headingLv2 {
          font-size: 2.2rem;
          text-align: center;
          font-weight: 700;

          .listHobbies {
               li {
                    font-size: 1.6rem;
               }

               li+li {
                    margin-top: 18px;
                    font-size: 1.6rem;
               }
          }
     }
}