*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

.player {
    display: flex;
}

.dashboard,
.playlist {
    flex: 1 0 50%;
}

.dashboard {
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

.dashboard h4 {
    font-size: 12px;
    color: #ec1f55;
}

.dashboard h2 {}