@keyframes colorfulAnimation {
    0% {
        color: red;
    }

    25% {
        color: blue;
    }

    50% {
        color: green;
    }

    75% {
        color: orange;
    }

    100% {
        color: purple;
    }
}