.header {
     height: 100px;
     background-color: #fa5030;

     .logoWrap {
          text-decoration: none;
          color: #fff;

          span {
               font-size: 2.5rem;
          }

          .logo {
               .icon {
                    font-size: 3.0rem;
               }



          }

     }

}

.container {
     max-width: 1135px;
     margin: 0 auto;
}