.listColumn {
     display: flex;
     gap: 20px;
     padding: 20px;
     align-items: center;
     height: 100vh;
}

.container {
     min-width: 100vw;
     min-height: 100vh;
     background-color: rgb(52, 52, 136);
}