 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }

 * {
     margin: 0;
     padding: 0;
     font: inherit;
 }

 img,
 picture,
 svg,
 video {
     display: block;
     max-width: 100%;
 }

 input,
 select,
 textarea {
     background-color: transparent;
     outline: none;
 }

 button {
     cursor: pointer;
     background-color: transparent;
     outline: none;
     border: 0;
 }


 body {
     min-height: 100vh;
     font-weight: 400;
     font-size: 16px;
     line-height: 1;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 ul {
     list-style: none;
 }


 .modal {
     visibility: hidden;
     opacity: 0;
     position: fixed;
     inset: 0;
     z-index: 9999;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .modal.is-show {
     visibility: visible;
     opacity: 1;
 }

 .modal-overlay {
     position: absolute;
     inset: 0;
     background-color: rgba(0, 0, 0, 0.2);
     cursor: pointer;
 }


 .modal-main {
     overscroll-behavior-y: contain;
 }

 .form-todos {
     padding: 15px 0 10px 0;
     min-width: 450px;
     min-height: 150px;
     position: relative;
     background-color: #fff;
     border-radius: 12px;
 }

 .form-todos .form-group {
     margin-top: 24px;
 }

 .form-todos .form-group:first-child {
     padding: 0 20px;
 }

 input {
     display: block;
     width: 100%;
     padding: 20px 10px;
     border-radius: 12px;
     border: 1px solid #ccc;
     background-color: #eeeeee;
 }

 .btn {
     min-width: 80px;
     color: #fff;
     padding: 14px 10px;
     text-align: center;
     background-color: #059669;
     border-radius: 12px;
 }

 .form-todos .form-group:last-child {
     padding: 18px;
     border-top: 1px solid #eee8e8;
     display: flex;
     gap: 30px;
     justify-content: center;
     align-items: center;
 }

 .form-todos .btn-cancel {
     min-width: 100px;
     background-color: #fff;
     color: #292727;
     border: 1px solid #ccc;
 }

 .form-todos .btn-cancel:hover {
     background-color: #e7e2e2;
 }

 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
 }

 .todos {
     width: 750px;
 }

 .heading-lv2 {
     font-size: 2.5rem;
     font-weight: 600;
     text-align: center;
 }

 .heading-lv2 span {
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     background-color: #60a5fa;
     background-image: linear-gradient(90deg, #60a5fa 0%, #059669 100%);

 }

 .form-search {
     margin-top: 18px;
     display: flex;
     align-items: center;
     gap: 18px;
 }

 .form-search .btn-add {
     flex-shrink: 0;
 }

 .form-search .form-group {
     flex: 1;
     display: flex;
     position: relative;
 }

 .form-search .form-group .search {
     position: absolute;
     width: 50px;
     height: 50px;
     background-color: blue;
     text-align: center;
     line-height: 50px;
     color: #fff;
     border-radius: 12px;
     top: 50%;
     right: 15px;
     transform: translateY(-50%);
 }

 .form-search .btn-add {
     padding-left: 18px;
     padding-right: 18px;
 }

 ul li+li {
     margin-top: 14px;
 }

 .list-todos {
     margin-top: 18px;
 }

 .row-feature {
     display: flex;
     gap: 10px;
 }

 .btn-icon {
     width: 40px;
     height: 40px;
     color: #fff;
     text-align: center;
     line-height: 40px;
     border-radius: 12px;
 }

 .btn-remove {
     background-color: rgb(160, 9, 9);
 }

 .btn-edit {
     background-color: blue;

 }

 .btn-check {
     background-color: #9b9999;

 }

 .items-todo__inner {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .items-todo {
     padding: 14px 14px;
     border: 1px solid #ccc;
     border-radius: 12px;
 }

 .btn-cta__icon {
     margin-left: auto;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     border: 2px solid #fff;
     display: flex;
     align-items: center;
     justify-self: center;
 }


 .btn-completed {
     color: #fff;
     margin-top: 18px;
     display: flex;
     justify-content: center;
     align-items: center;
     min-width: 150px;
     width: 200px;
     padding: 14px;
     background-color: #979494;
     border-radius: 12px;
 }

 .btn-completed span {
     margin-left: 5px;
 }

 .btn-completed.is-active {
     background-color: #047857;
 }

 .btn-cta__icon {
     transition: rotate .25s linear;
 }

 .btn-completed.is-active .btn-cta__icon {
     rotate: 90deg;
 }

 .btn-icon i {
     pointer-events: none;
 }


 .btn-completed~.list-todos.completed {
     display: none;
 }

 .btn-completed.is-active~.list-todos.completed {
     display: block;
 }

 .items-todo.is-hidden {
     display: none;
 }

 .items-todo .desc span {
     font-weight: 700;
     background-color: #dbeafe;
 }

 .loader {
     position: absolute;
     top: calc(50% - 32px);
     left: calc(50% - 32px);
     width: 64px;
     height: 64px;
     border-radius: 50%;
     perspective: 800px;
 }

 .inner {
     position: absolute;
     box-sizing: border-box;
     width: 100%;
     height: 100%;
     border-radius: 50%;
 }

 .inner.one {
     left: 0%;
     top: 0%;
     animation: rotate-one 1s linear infinite;
     border-bottom: 3px solid #ff6bcb;
 }

 .inner.two {
     right: 0%;
     top: 0%;
     animation: rotate-two 1s linear infinite;
     border-right: 3px solid #ffb86c;
 }

 .inner.three {
     right: 0%;
     bottom: 0%;
     animation: rotate-three 1s linear infinite;
     border-top: 3px solid #2cccff;
 }

 @keyframes rotate-one {
     0% {
         transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
     }

     100% {
         transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
     }
 }

 @keyframes rotate-two {
     0% {
         transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
     }

     100% {
         transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
     }
 }

 @keyframes rotate-three {
     0% {
         transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
     }

     100% {
         transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
     }
 }