.playItems {
     flex: 1 0 100%;

     table {
          thead {
               td {
                    font-size: 1.5rem;
                    font-weight: 600;
               }
          }

          tbody {
               td {
                    width: 50%;
               }
          }
     }
}