.form-todos {
     margin-top: 18px;

}

.form-todos input {
     flex: 1;
}

.form-todos .form-group {
     max-width: 750px;
}

.btn-search {
     background-color: orange;
}

.btn-search.isSearching {
     background-color: green;
}