*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body,
input,
button {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    align-items: flex-start;

    background: #8758ff;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 800;
}

.app {
    background: #1a1a40;
    border-radius: 5px;
    margin-top: 5rem;
    padding: 2rem;
}

.todo-form {

    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.form-group {
    display: flex;
}

.todo-input {
    background: none;
    border: 1px solid #8758ff;
    color: #fff;
    outline: none;
    padding: .5rem 1rem;
    width: 300px;
}

.btn {
    display: block;
    background: #8758ff;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: .55rem;
}

.todo {
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: .75rem 1rem;
}

p {
    color: #fff;
}

.icon-row {
    display: flex;
    gap: 10px;
}

.remove-todo,
.edit-todo {
    color: #fff;
    font-size: 1.2rem;
}