.gallery {
     padding: 60px 80px;
     background-color: rgba(73, 73, 211, 0.362);

     ul {
          display: flex;
          gap: 20px;


          li {
               flex: 1 0 calc(100% / 3 - 20px);
               padding: 20px 15px;
               border-radius: 12px;
               background-color: #fff;
          }
     }
}