.form-edit-todo {
     margin-top: 24px;
}

.form-edit-todo .form-group {
     display: flex;
     max-width: 100%;
     margin: 0;
     border: 1px solid #333;
     gap: 0;
     justify-content: space-between;
     color: black;

}

.form-edit-todo .form-group input {
     color: black;
     font-size: 1.2rem;
     flex: 1;
}

.form-edit-todo label {
     display: block;

}

.btn-exit {
     background-color: orange;
}

.form-group-content {
     flex: 1;
}

.form-group-content #text-edit-todo {
     width: 100%;
}

.form-group-content__inner {
     display: flex;
     justify-content: flex-start;
}