.listProduct {
     margin-top: 30px;

     .headingLv2 {
          font-size: 3.5rem;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 40px;
     }

     .listProductWrap {}
}