.listProduct {
     padding-top: 100px;
     margin-top: 30px;

     .headingLv2 {
          font-size: 3.5rem;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 40px;
     }

     .listProductWrap {
          display: flex;
          gap: 15px;
          flex-wrap: wrap;
     }
}

.loading {
     background-color: #cccccc79;
     position: fixed;
     inset: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     font-size: 1.5rem;
}

.pagination {
     display: -ms-flexbox;
     display: flex;
     padding-left: 0;
     list-style: none;
     border-radius: 0.25rem;
     padding-top: 20px;
     justify-content: flex-end;
}

.page-link {
     position: relative;
     display: block;
     padding: 0.5rem 0.75rem;
     margin-left: -1px;
     line-height: 1.25;
     color: #007bff;
     background-color: #fff;
     border: 1px solid #dee2e6;
}

.page-link:hover {
     cursor: pointer;
     background-color: #e6e6e6;
}

li.page-item.active>a {
     background: #007bff;
     color: white;
     border-color: #007bff;
}