.list-todos {
     color: black;
     display: block;
     max-width: 1000px;
     background-color: #fff;
     border-radius: 5px;
     margin: 18px auto 0 auto;
     list-style: none;
     padding: 24px 20px;
}

.list-todos li {
     padding: 10px;
     margin-top: 24px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border: 1px solid #333;
     border-radius: 4px;
}