.carts {
     padding-top: 150px;

     .headingLv2 {
          font-size: 2.0rem;
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;

     }

     .isEmpty {
          margin-top: 40px;

          .icon {
               color: yellow;
          }

          .headingLv3 {
               font-size: 2.5rem;
          }

          .btnGoHome {
               min-width: 120px;
               padding: 20px 5px;
               display: flex;
               gap: 10px;
               align-items: center;
               justify-content: center;
               background-color: blue;
               color: #fff;
               border-radius: 12px;

               .navLink {
                    color: #fff;
                    text-decoration: none;

               }
          }
     }
}