.heading-lv1 {
     color: #fff;
     text-align: center;
     font-size: 2.5rem;
}

.list-product {
     padding: 0 60px;
     margin-top: 18px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     justify-content: center;
     align-items: center;
     gap: 30px;
}