.btnAddColumn,
.btnAddTasks {
     display: block;
     width: 100%;
     min-height: 80px;
     display: flex;
     align-items: center;
     justify-content: center;


}

.btnAddTasks {
     background-color: #fff;
}