.btnAddColumn,
.btnAddTasks {
     display: block;
     width: 100%;
     min-height: 80px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;

     &:hover {
          background-color: #dbd7d7;
     }


}

.btnAddTasks {

     border-bottom-left-radius: 12px;
     border-bottom-right-radius: 12px;
     background-color: #fff;
}

.btnAddColumn {
     max-width: 300px;
     background-color: #99999940;
     border-radius: 12px;
}