.list-plays {
     position: relative;
     padding: 0;
     width: 100%;
     list-style: none;
     display: flex;
     overflow: auto;
}

.icon-wrap {
     position: absolute;
     left: 5px;
     bottom: 5px;
}