.product-item {
     padding: 20px 10px;
     background-color: #fff;
     border-radius: 5px;
}

.img-wrap img {
     width: 100%;
     height: 300px;
     object-fit: cover;
}

.heading-lv2 {
     font-size: 1.5rem;
}