.banner {
     position: relative;

     .video {
          display: block;
          width: 100vw;
          height: 100vh;
          object-fit: cover;
     }

     .content {
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          color: #333;
          z-index: 2;
          color: #fff;

          .headingLv3 {
               font-size: 3.5rem;
               font-weight: 600;
               margin-bottom: 30px;
          }

          .desc {
               text-align: center;
               font-size: 2.5rem;
               line-height: 1.5;
          }

          .btn {
               font-size: 2.0rem;
               margin: 18px auto 0 auto;
               display: block;
               max-width: 200px;
               text-align: center;
               padding: 20px 10px;
               color: #fff;
               text-decoration: none;
               background-color: orange;
               border-radius: 12px;


          }
     }

     .carouselBanner {
          >ul {
               bottom: 20rem !important;
               height: 1rem !important;

               &>li {
                    height: 100% !important;
                    width: 1.5rem !important;

                    &>button {
                         font-size: 0 !important;
                         width: 1rem !important;
                         height: 1rem !important;
                         border-radius: 50% !important;
                         background-color: #96d7de !important;
                         transition: all ease 0.4s !important;
                         cursor: pointer !important;
                    }
               }
          }
     }
}