.header {
     background-color: rgba(65, 62, 62, 0.75);
     padding: 30px 60px;

     .logo {
          list-style: 2.0rem;
          font-size: 2.5rem;
          text-transform: uppercase;

          span {
               color: yellow;
          }
     }

     .navLink {
          display: flex;
          color: inherit;
     }

}