.header {
     position: fixed;
     z-index: 3;
     inset: 0;
     height: 100px;
     background-color: #14141471;
     padding: 30px 60px;

     .logo {
          color: #fff;
          line-height: 2.0rem;
          font-size: 2.5rem;
          text-transform: uppercase;

          span {
               color: yellow;
          }
     }

     .navLink {
          display: flex;
          gap: 30px;
          color: inherit;

          a {
               font-size: 2.0rem;
               color: #fff;
               text-decoration: none;
          }
     }

     .groupIcon {
          max-width: 100px;
          margin-left: auto;
          display: flex;
          gap: 20px;

          .icon {
               cursor: pointer;
               font-size: 2.5rem;
               color: rgb(236, 236, 15);
          }
     }

}