.productDetail {
     .loading {
          position: fixed;
          inset: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 1.5rem;
     }

     padding-top: 150px;

     .btnAddCart {
          min-width: 120px;
          padding: 10px 5px;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
          background-color: #fa5030;
          color: #fff;
          border-radius: 12px;
     }

     .productDetailWrap {
          display: flex;
          gap: 20px;

     }

     .productDetailItem {
          flex: 1 0 calc(100% / 2 - 20px)
     }

}