.productDetail {
     .btnAddCart {
          min-width: 120px;
          padding: 10px 5px;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
          background-color: #fa5030;
          color: #fff;
          border-radius: 12px;
     }
}